In [21]:
import pandas as pd
import numpy as np
from pathlib import Path

# Set paths relative to the project root
PROJECT_ROOT = Path(".").resolve()
DATA_DIR = PROJECT_ROOT / "data"
CSV_PATH = DATA_DIR / "James_rated_books.csv"

CSV_PATH

WindowsPath('C:/Users/brethm01/book-nlp/data/James_rated_books.csv')

In [22]:
# List of books I've read and rated 
df_raw = pd.read_csv(CSV_PATH, sep=None, engine="python")
df_raw.head()

,Book Id,Title,Author,Author l-f,Additional Authors,ISBN,ISBN13,My Rating,Average Rating,Publisher,...,Date Read,Date Added,Bookshelves,Bookshelves with positions,Exclusive Shelf,My Review,Spoiler,Private Notes,Read Count,Owned Copies
0,1,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling,"Rowling, J.K.",NaN,NaN,NaN,0,4.58,Scholastic Inc,...,NaN,02/07/2019,NaN,NaN,read,NaN,NaN,NaN,1,0
1,3,Harry Potter and the Sorcerer's Stone (Harry P...,J.K. Rowling,"Rowling, J.K.",NaN,0439554934,9.780440e+12,0,4.47,Scholastic Inc,...,NaN,02/07/2019,NaN,NaN,read,NaN,NaN,NaN,1,0
2,33,The Lord of the Rings,J.R.R. Tolkien,"Tolkien, J.R.R.",Alan Lee,0618640150,9.780619e+12,0,4.54,Houghton Mifflin Harcourt,...,NaN,02/07/2019,NaN,NaN,read,NaN,NaN,NaN,1,0
3,865,The Alchemist,Paulo Coelho,"Coelho, Paulo",Alan R. Clarke,0061122416,9.780061e+12,2,3.92,HarperCollins,...,NaN,02/07/2019,NaN,NaN,read,NaN,NaN,NaN,1,0
4,890,Of Mice and Men,John Steinbeck,"Steinbeck, John",NaN,0142000671,9.780142e+12,4,3.89,Penguin Books,...,NaN,02/07/2019,NaN,NaN,read,NaN,NaN,NaN,1,0

In [23]:
df_raw.columns.tolist()

['Book Id',
 'Title',
 'Author',
 'Author l-f',
 'Additional Authors',
 'ISBN',
 'ISBN13',
 'My Rating',
 'Average Rating',
 'Publisher',
 'Binding',
 'Number of Pages',
 'Year Published',
 'Original Publication Year',
 'Date Read',
 'Date Added',
 'Bookshelves',
 'Bookshelves with positions',
 'Exclusive Shelf',
 'My Review',
 'Spoiler',
 'Private Notes',
 'Read Count',
 'Owned Copies']

In [24]:
cols_to_keep = [
    "Book Id",
    "Title",
    "Author",
    "ISBN",
    "ISBN13",
    "My Rating",
    "Date Read",
    "Date Added",
    "My Review"
]

df = df_raw[cols_to_keep].copy()
df.head()

,Book Id,Title,Author,ISBN,ISBN13,My Rating,Date Read,Date Added,My Review
0,1,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling,NaN,NaN,0,NaN,02/07/2019,NaN
1,3,Harry Potter and the Sorcerer's Stone (Harry P...,J.K. Rowling,0439554934,9.780440e+12,0,NaN,02/07/2019,NaN
2,33,The Lord of the Rings,J.R.R. Tolkien,0618640150,9.780619e+12,0,NaN,02/07/2019,NaN
3,865,The Alchemist,Paulo Coelho,0061122416,9.780061e+12,2,NaN,02/07/2019,NaN
4,890,Of Mice and Men,John Steinbeck,0142000671,9.780142e+12,4,NaN,02/07/2019,NaN

In [25]:
df = df.rename(columns={
    "Book Id": "book_id",
    "Title": "title",
    "Author": "author",
    "ISBN": "isbn",
    "ISBN13": "isbn13",
    "My Rating": "my_rating",
    "Date Read": "date_read",
    "Date Added": "date_added",
    "My Review": "my_review"
})

# Convert ratings to numeric
df["my_rating"] = pd.to_numeric(df["my_rating"], errors="coerce") 

# Keep only books you actually rated (my_rating > 0)
df = df[df["my_rating"] > 0].reset_index(drop=True)

df.head()

,book_id,title,author,isbn,isbn13,my_rating,date_read,date_added,my_review
0,865,The Alchemist,Paulo Coelho,0061122416,9.780061e+12,2,NaN,02/07/2019,NaN
1,890,Of Mice and Men,John Steinbeck,0142000671,9.780142e+12,4,NaN,02/07/2019,NaN
2,2657,To Kill a Mockingbird,Harper Lee,0060935464,9.780061e+12,4,NaN,02/07/2019,NaN
3,3869,A Brief History of Time,Stephen Hawking,0553380168,9.780553e+12,4,NaN,02/07/2019,NaN
4,4069,Man's Search for Meaning,Viktor E. Frankl,080701429X,9.780807e+12,5,07/02/2021,26/12/2020,NaN

In [26]:
print("Number of rated books:", len(df))
print(df[["title", "author", "my_rating"]].head(10))

Number of rated books: 88
                      title            author  my_rating
0             The Alchemist      Paulo Coelho          2
1           Of Mice and Men    John Steinbeck          4
2     To Kill a Mockingbird        Harper Lee          4
3   A Brief History of Time   Stephen Hawking          4
4  Man's Search for Meaning  Viktor E. Frankl          5
5         Heart of Darkness     Joseph Conrad          3
6           The Hungry Tide      Amitav Ghosh          4
7                  Saturday        Ian McEwan          4
8    The Catcher in the Rye     J.D. Salinger          5
9              Ghostwritten   David  Mitchell          4

In [27]:
CLEAN_CSV_PATH = DATA_DIR / "my_rated_books_clean.csv"
df.to_csv(CLEAN_CSV_PATH, index=False)
CLEAN_CSV_PATH

WindowsPath('C:/Users/brethm01/book-nlp/data/my_rated_books_clean.csv')