Load data/my_rated_books_clean.csv

For each book (title, author):

Search Open Library

Grab a work key and then a description

Collect extra fields (year, language, subjects when available)

Save to data/my_rated_books_enriched.csv

In [ ]:
import requests
import pandas as pd
import numpy as np
import time
from pathlib import Path


PROJECT_ROOT = Path(".").resolve()
DATA_DIR = PROJECT_ROOT / "data"

CLEAN_CSV_PATH = DATA_DIR / "my_rated_books_clean.csv"
ENRICHED_CSV_PATH = DATA_DIR / "my_rated_books_enriched.csv"

CLEAN_CSV_PATH, ENRICHED_CSV_PATH

(WindowsPath('C:/Users/brethm01/book-nlp/data/my_rated_books_clean.csv'),
 WindowsPath('C:/Users/brethm01/book-nlp/data/my_rated_books_enriched.csv'))

In [10]:
df = pd.read_csv(CLEAN_CSV_PATH)
print("Columns:", df.columns.tolist())
print("Number of rated books:", len(df))
df.head()

Columns: ['book_id', 'title', 'author', 'isbn', 'isbn13', 'my_rating', 'date_read', 'date_added', 'my_review']
Number of rated books: 88

,book_id,title,author,isbn,isbn13,my_rating,date_read,date_added,my_review
0,865,The Alchemist,Paulo Coelho,0061122416,9.780061e+12,2,NaN,02/07/2019,NaN
1,890,Of Mice and Men,John Steinbeck,0142000671,9.780142e+12,4,NaN,02/07/2019,NaN
2,2657,To Kill a Mockingbird,Harper Lee,0060935464,9.780061e+12,4,NaN,02/07/2019,NaN
3,3869,A Brief History of Time,Stephen Hawking,0553380168,9.780553e+12,4,NaN,02/07/2019,NaN
4,4069,Man's Search for Meaning,Viktor E. Frankl,080701429X,9.780807e+12,5,07/02/2021,26/12/2020,NaN

Open Library search helper

In [11]:
BASE_SEARCH_URL = "https://openlibrary.org/search.json"
BASE_WORK_URL = "https://openlibrary.org"

def search_open_library(title: str, author: str, max_retries: int = 3):
    """
    Search Open Library by title + author.
    Returns the top match dict or None.
    """
    if not isinstance(title, str) or not isinstance(author, str):
        return None
    
    params = {
        "q": f"{title} {author}",
        "fields": "title,author_name,key,isbn,first_publish_year,language,subject",
        "limit": 1
    }
    
    for attempt in range(max_retries):
        try:
            resp = requests.get(BASE_SEARCH_URL, params=params, timeout=15)
            if resp.status_code != 200:
                time.sleep(1.0)
                continue
            data = resp.json()
            docs = data.get("docs", [])
            if not docs:
                return None
            return docs[0]  # top doc
        except Exception as e:
            print(f"Error on attempt {attempt+1} for {title} / {author}: {e}")
            time.sleep(1.0)
    return None

Helper to get description from work key

In [12]:
def get_work_details(work_key: str, max_retries: int = 3):
    """
    Given a work key like '/works/OL12345W', fetch work details JSON.
    """
    if not isinstance(work_key, str):
        return None
    
    url = f"{BASE_WORK_URL}{work_key}.json"
    
    for attempt in range(max_retries):
        try:
            resp = requests.get(url, timeout=15)
            if resp.status_code != 200:
                time.sleep(1.0)
                continue
            return resp.json()
        except Exception as e:
            print(f"Error on attempt {attempt+1} for {work_key}: {e}")
            time.sleep(1.0)
    return None


def extract_description(work_json):
    """
    Extract a clean string description from the work JSON.
    """
    if not work_json:
        return None
    
    desc = work_json.get("description")
    if isinstance(desc, str):
        return desc.strip()
    if isinstance(desc, dict):
        # sometimes description is {"type": "/type/text", "value": "..."}
        return str(desc.get("value", "")).strip() or None
    return None

Enrichment loop

In [13]:
enriched_rows = []

for idx, row in df.iterrows():
    title = row.get("title")
    author = row.get("author")
    print(f"[{idx+1}/{len(df)}] Searching for: {title} — {author}")
    
    # 1) search open library
    meta = search_open_library(title, author)
    
    if meta is None:
        print("   -> No result found")
        enriched_rows.append({
            **row.to_dict(),
            "ol_work_key": None,
            "ol_title": None,
            "ol_author_name": None,
            "ol_isbn_any": None,
            "ol_first_publish_year": None,
            "ol_language": None,
            "ol_subjects": None,
            "ol_description": None
        })
        continue
    
    work_key = meta.get("key")    # e.g. "/works/OL12345W"
    ol_title = meta.get("title")
    author_names = meta.get("author_name") or []
    ol_author_name = author_names[0] if author_names else None
    isbn_list = meta.get("isbn") or []
    ol_isbn_any = isbn_list[0] if isbn_list else None
    ol_year = meta.get("first_publish_year")
    languages = meta.get("language") or []
    ol_language = languages[0] if languages else None
    subjects = meta.get("subject") or []
    subjects_str = "; ".join(subjects) if subjects else None
    
    # 2) get work details (description, etc.)
    work_json = get_work_details(work_key) if work_key else None
    description = extract_description(work_json)
    
    enriched_rows.append({
        **row.to_dict(),
        "ol_work_key": work_key,
        "ol_title": ol_title,
        "ol_author_name": ol_author_name,
        "ol_isbn_any": ol_isbn_any,
        "ol_first_publish_year": ol_year,
        "ol_language": ol_language,
        "ol_subjects": subjects_str,
        "ol_description": description,
    })
    
    # Be polite to the API
    time.sleep(0.3)

df_enriched = pd.DataFrame(enriched_rows)
df_enriched.head()

[1/88] Searching for: The Alchemist — Paulo Coelho
[2/88] Searching for: Of Mice and Men — John Steinbeck
[3/88] Searching for: To Kill a Mockingbird — Harper Lee
[4/88] Searching for: A Brief History of Time — Stephen Hawking
[5/88] Searching for: Man's Search for Meaning — Viktor E. Frankl
[6/88] Searching for: Heart of Darkness — Joseph Conrad
[7/88] Searching for: The Hungry Tide — Amitav Ghosh
[8/88] Searching for: Saturday — Ian McEwan
[9/88] Searching for: The Catcher in the Rye — J.D. Salinger
[10/88] Searching for: Ghostwritten — David  Mitchell
[11/88] Searching for: Amsterdam — Ian McEwan
[12/88] Searching for: Lord of the Flies — William Golding
[13/88] Searching for: The Human Stain (The American Trilogy, #3) — Philip Roth
   -> No result found
[14/88] Searching for: One Day in the Life of Ivan Denisovich — Aleksandr Solzhenitsyn
[15/88] Searching for: His Dark Materials (His Dark Materials #1-3) — Philip Pullman
   -> No result found
[16/88] Searching for: The Origin of Species — Charles Darwin
[17/88] Searching for: The Prince — Niccolò Machiavelli
[18/88] Searching for: The Communist Manifesto — Karl Marx
[19/88] Searching for: The Road to Wigan Pier — George Orwell
[20/88] Searching for: God Is Not Great: How Religion Poisons Everything — Christopher Hitchens
[21/88] Searching for: A Little History of the World — E.H. Gombrich
[22/88] Searching for: How to Cure a Fanatic — Amos Oz
[23/88] Searching for: Watership Down (Watership Down, #1) — Richard  Adams
   -> No result found
[24/88] Searching for: The Haunting of Hill House — Shirley Jackson
[25/88] Searching for: We Have Always Lived in the Castle — Shirley Jackson
[26/88] Searching for: Heart of a Dog — Mikhail Bulgakov
[27/88] Searching for: They Came Like Swallows — William Maxwell
[28/88] Searching for: Harry Potter and the Deathly Hallows (Harry Potter, #7) — J.K. Rowling
[29/88] Searching for: The Little Prince — Antoine de Saint-Exupéry
[30/88] Searching for: Animal Farm — George Orwell
[31/88] Searching for: The 4-Hour Workweek — Timothy Ferriss
[32/88] Searching for: An Introduction to English Poetry — James Fenton
[33/88] Searching for: The Man Who Planted Trees — Jean Giono
[34/88] Searching for: The Bus Driver Who Wanted to be God and Other Stories — Etgar Keret
[35/88] Searching for: City of Thieves — David Benioff
[36/88] Searching for: What I Talk About When I Talk About Running — Haruki Murakami
[37/88] Searching for: Outliers: The Story of Success — Malcolm Gladwell
[38/88] Searching for: The Spirit Level: Why More Equal Societies Almost Always Do Better — Richard G. Wilkinson
   -> No result found
[39/88] Searching for: One Amazing Thing — Chitra Banerjee Divakaruni
[40/88] Searching for: Chavs: The Demonization of the Working Class — Owen   Jones
[41/88] Searching for: The Importance of Being Earnest — Oscar Wilde
[42/88] Searching for: A Little History of Philosophy (Little Histories) — Nigel Warburton
[43/88] Searching for: In the Miso Soup — Ryū Murakami
[44/88] Searching for: What Money Can't Buy: The Moral Limits of Markets — Michael J. Sandel
[45/88] Searching for: The Autistic Brain: Thinking Across the Spectrum — Temple Grandin
[46/88] Searching for: Gooseberries and other stories (Penguin Little Black Classics, #34) — Anton Chekhov
   -> No result found
[47/88] Searching for: Zero to One: Notes on Startups, or How to Build the Future — Peter Thiel
[48/88] Searching for: Show Your Work!: 10 Ways to Share Your Creativity and Get Discovered — Austin Kleon
[49/88] Searching for: Age of Ambition: Chasing Fortune, Truth, and Faith in the New China — Evan Osnos
[50/88] Searching for: Make It Stick: The Science of Successful Learning — Peter C. Brown
[51/88] Searching for: So Long, See You Tomorrow — William Maxwell
[52/88] Searching for: How We Learn: The Surprising Truth About When, Where, and Why It Happens — Benedict Carey
[53/88] Searching for: The Three-Body Problem (Remembrance of Earth’s Past, #1) — Liu Cixin
   -> No result found
[54/88] Searching for: A Brief History of Seven Killings — Marlon James
[55/88] Searching for: The Dark Forest (Remembrance of Earth’s Past, #2) — Liu Cixin
   -> No result found
[56/88] Searching for: Sapiens: A Brief History of Humankind — Yuval Noah Harari
[57/88] Searching for: The Inner Game of Tennis: The ultimate guide to the mental side of peak performance — W. Timothy Gallwey
[58/88] Searching for: The 5 Dysfunctions of a Team: A Leadership Fable — Patrick Lencioni
   -> No result found
[59/88] Searching for: The Meek One (Penguin Little Black Classics, #44) — Fyodor Dostoevsky
   -> No result found
[60/88] Searching for: The Old Man of the Moon — Shěn Fù
[61/88] Searching for: Traffic (Penguin Little Black Classics, #6) — John Ruskin
   -> No result found
[62/88] Searching for: Three Tang Dynasty Poets (Penguin Little Black Classics, #9) — Wang Wei
   -> No result found
[63/88] Searching for: A Cup of Sake Beneath the Cherry Trees — Yoshida Kenkō
[64/88] Searching for: Death's End (Remembrance of Earth’s Past, #3) — Liu Cixin
   -> No result found
[65/88] Searching for: Autumn (Seasonal Quartet, #1) — Ali Smith
   -> No result found
[66/88] Searching for: Never Split the Difference: Negotiating as if Your Life Depended on It — Chris Voss
[67/88] Searching for: A Book of American Martyrs — Joyce Carol Oates
[68/88] Searching for: The Old Man and the Sea — Ernest Hemingway
[69/88] Searching for: Life 3.0: Being Human in the Age of Artificial Intelligence — Max Tegmark
[70/88] Searching for: Winter (Seasonal, #2) — Ali Smith
   -> No result found
[71/88] Searching for: Principles: Life and Work — Ray Dalio
[72/88] Searching for: Educated — Tara Westover
[73/88] Searching for: Milkman — Anna Burns
[74/88] Searching for: Natives: Race and Class in the Ruins of Empire — Akala
[75/88] Searching for: The Coddling of the American Mind: How Good Intentions and Bad Ideas Are Setting up a Generation for Failure — Jonathan Haidt
[76/88] Searching for: The Sorrows of Love (Essay Books) — The School of Life
   -> No result found
[77/88] Searching for: How To Be Right… in a World Gone Wrong — James O'Brien
[78/88] Searching for: Why We Get the Wrong Politicians — Isabel Hardman
[79/88] Searching for: Spring (Seasonal Quartet, #3) — Ali Smith
   -> No result found
[80/88] Searching for: Turbulence — David Szalay
[81/88] Searching for: The Book You Wish Your Parents Had Read [and Your Children Will Be Glad That You Did] — Philippa Perry
[82/88] Searching for: How to Have Impossible Conversations: A Very Practical Guide — Peter Boghossian
[83/88] Searching for: The Archipelago of Another Life — Andreï Makine
   -> No result found
[84/88] Searching for: The Cat and The City — Nick  Bradley
[85/88] Searching for: Summer (Seasonal Quartet, #4) — Ali Smith
   -> No result found
[86/88] Searching for: How to Argue With a Racist: History, Science, Race and Reality — Adam Rutherford
[87/88] Searching for: Klara and the Sun — Kazuo Ishiguro
[88/88] Searching for: Build: An Unorthodox Guide to Making Things Worth Making — Tony Fadell

,book_id,title,author,isbn,isbn13,my_rating,date_read,date_added,my_review,ol_work_key,ol_title,ol_author_name,ol_isbn_any,ol_first_publish_year,ol_language,ol_subjects,ol_description
0,865,The Alchemist,Paulo Coelho,0061122416,9.780061e+12,2,NaN,02/07/2019,NaN,/works/OL796465W,O Alquimista,Paulo Coelho,0061160644,1988.0,eng,Translations into Indonesian; Voyages and trav...,The Alchemist details the journey of a young A...
1,890,Of Mice and Men,John Steinbeck,0142000671,9.780142e+12,4,NaN,02/07/2019,NaN,/works/OL23204W,Of Mice and Men,John Steinbeck,9781537401812,1937.0,swe,contemporary fiction; literary fiction; classi...,The second book in John Steinbeck’s labor tril...
2,2657,To Kill a Mockingbird,Harper Lee,0060935464,9.780061e+12,4,NaN,02/07/2019,NaN,/works/OL8897870W,"To Kill a Mockingbird, Harper Lee",Jill Green,9781560778479,2007.0,None,American literature; Study and teaching; Litté...,None
3,3869,A Brief History of Time,Stephen Hawking,0553380168,9.780553e+12,4,NaN,02/07/2019,NaN,/works/OL1892617W,A Brief History of Time,Stephen Hawking,9780553176988,1988.0,cze,Cosmologie; Temps (durée); Espace-temps; Vulga...,Stephen Hawking's ‘A Brief History of Time* ha...
4,4069,Man's Search for Meaning,Viktor E. Frankl,080701429X,9.780807e+12,5,07/02/2021,26/12/2020,NaN,/works/OL1268413W,... Trotzdem Ja zum Leben sagen,Viktor E. Frankl,9781416524281,1946.0,eng,Nazi concentration camps; psychotherapy; meani...,Psychiatrist Viktor Frankl's memoir has rivete...

Quick quality checks

In [16]:
print("Total books:", len(df_enriched))
print("With a description:", df_enriched["ol_description"].notna().sum())
print("Example with description:")
df_enriched[df_enriched["ol_description"].notna()].head(3)[
    ["title", "author", "ol_title", "ol_author_name", "ol_description"]
]

Total books: 88
With a description: 45
Example with description:

,title,author,ol_title,ol_author_name,ol_description
0,The Alchemist,Paulo Coelho,O Alquimista,Paulo Coelho,The Alchemist details the journey of a young A...
1,Of Mice and Men,John Steinbeck,Of Mice and Men,John Steinbeck,The second book in John Steinbeck’s labor tril...
3,A Brief History of Time,Stephen Hawking,A Brief History of Time,Stephen Hawking,Stephen Hawking's ‘A Brief History of Time* ha...

In [17]:
df_enriched.to_csv(ENRICHED_CSV_PATH, index=False)
ENRICHED_CSV_PATH

WindowsPath('C:/Users/brethm01/book-nlp/data/my_rated_books_enriched.csv')